.navbar-brand {
  background: url(../geonode/img/logo2.png) 0 27px no-repeat;
  background-size: 75%;
  background-position: center;
  text-indent: -9999px;
  height: 200px;
  width: 168px;
}

a.navbar-brand {
    display: none;
}
