{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "State GeoNode About" %} {% endblock %}

{% block body_class %}home{% endblock %}


{% block middle %}
  {{ block.super }}
  {% block hero %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <div class="jumbotron">
        <div class="container">
                <h1>{% trans "State GeoNode About Page" %}</h1>
                <p></p>
        </div>
  </div>
  {% endblock %}

  {% block mainbody %}

  {% endblock %}

{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
        $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock extra_script %}

