{% extends 'index.html' %}
{% load i18n %}

{% load base_tags %}

{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
  	<div class="container">
        <span class="navbar-brand">GeoNode</span>
        <h1>{{custom_theme.jumbotron_welcome_title|default:_("State GeoNode")}}</h1>
  		<p></p>
		<p>{{custom_theme.jumbotron_welcome_content|default:_("The State GeoNode is a digital service provided by the U.S. Department of State for publishing open geographic data produced by or compiled by the U.S. Government.")}}</p>
		{% if not custom_theme.jumbotron_cta_hide %}
  		<a class="btn btn-default btn-lg" target="_blank" href="{{custom_theme.jumbotron_cta_link|default:_("/about")}}" role="button">{{custom_theme.jumbotron_cta_text|default:_("About &raquo;")}}</a>
		{% endif %}
	</div>
  </div>
  {% endblock %}

{% block bigsearch %}
      <div class="big-search">
        <div class="container">
                <h1>{% trans "Search for Data." %}</h1>
                <div class="search">
                        <form id="search" action="{% url "search" %}" >
                                <span class="fa fa-search fa-2x"></span>
                                {% if HAYSTACK_SEARCH %}
                                <input id="search_input" type="text" placeholder="Search" class="form-control" name="q">
                                {% else %}
                                <input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
                                {% endif %}
                        </form>
                </div>
                <p><a class="btn btn-default btn-lg" href="{% url "search" %}">Advanced Search</a></p>
        </div>
      </div>
{% endblock bigsearch %}

{% block datasets %}
{% endblock datasets %}


{% block showcase %}
      <section id="showcase">
        <div class="row">
          <div class="container text-center">
            <h2>Featured Datasets</h2>
            <div class="row home-facets">
            {% with facet_type='home' %}
             {% facets as facets %}
              <div class="col-md-6">
                <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
                <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
                <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
                {% if user.is_authenticated %}
                <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
                {% else %}
                <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
                {% endif %}
              </div>
             <div class="col-md-6">
                <p><a href="{% url "document_browse" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</a></h2>
<p>{% trans "As for the layers and maps GeoNode allows to publish tabular and text data, manage theirs metadata and associated documents." %}</p>
                {% if user.is_authenticated %}
                <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Add documents" %} &raquo;</a></p>
                {% else %}
                <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Explore documents" %} &raquo;</a></p>
                {% endif %}
              </div>
           {% endwith %}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="container text-center">
                {% verbatim %}
                <div ng-app="featured">
                  <div ng-repeat="item in featured | limitTo:4">
                    <div class="col-md-3">
                      <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
                      <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
                    </div>
                  </div>
                </div>
                        {% endverbatim %}
                <p><a href="/search/">Explore all datasets</a></p>
            </div>
        </div>
      </section>
{% endblock showcase %}

